/*
	Theme Name: Portfolio - 2013
	Theme URI: http://www.tonymeyer.org
	Description: my personal portfolio
	Version: 1
	Author: Tony Meyer
	Author URI: http://www.tonymeyer.org
	Tags: HTML5, CSS3
	
	License: MIT
	License URI: http://opensource.org/licenses/mit-license.php
*/

/* --------- Desktop --------- */
@media (min-width: 1200px) {


	.profile-wrp { width: 270px; margin-left: 30px; }
	.profile-wrp .overlay-wrp .profile-quote { font-size: 28px; }
	
	.process-wrp { width: 180px; height: 180px; margin: 0 25px 20px 25px; }
	.process-circle { font-size: 24px; }
	.process-circle span { width: 180px; height: 180px; }
	
	.img-caption { width: 50%; margin-left: 50%; }
	
}

/* --------- iPad Vertical --------- */

@media (min-width: 768px) and (max-width: 979px) {
	#pies {position: relative!important;}

	header nav ul#navigation { padding-top: 0; margin-top: 56px; }
	header nav ul#navigation.pull-right > li { font-size: 16px; margin-left: 10px; }
	header nav ul#navigation.pull-right > li { padding-top: 0; }
	header nav ul#navigation.pull-right > li.current-menu-item > a { padding-bottom: 4px; border-top: none; border-bottom: 2px solid #f5c11e; color: #f5c11e; }
	
	footer nav li a { margin-left: 8px; font-size: 12px; }
	
	.profile-wrp { width: 352px; margin-left: 20px; }
	.profile-wrp .overlay-wrp .profile-quote { font-size: 28px; }
	
	#yellow-line .social-icons { margin-left: 0; }
	
	.process-wrp { width: 130px; height: 130px; margin: 0 5px 20px 5px; }
	.process-circle { font-size: 18px; }
	.process-circle span { width: 130px; height: 130px; }
	
	.img-caption { margin: 16px 0 0 30%; width: 70%; }
	
	.background .gradient { height: 80%; }
	
	.full-post .blog-text .video-blog p { font-size: 12px; }
	.full-post .blog-text .video-blog h5 { font-size: 18px; }

}

/* --------- Mobile Phones --------- */
@media (max-width: 767px) {

	#pies {position: relative!important;}

	h1 { font-size: 48px; }
	h2 { font-size: 44px; }
	h3 { font-size: 38px; padding-top: 0.4em; }
	h4 { font-size: 26px; padding-top: 0.4em; }
	h5 { font-size: 22px; padding-top: 0.4em; }
	h6 { font-size: 16px; }
	
	p:last-child { margin-bottom: 1.6em; }
	p.large { font-size: 14px; }
	p.lead { font-size: 18px; }
	
	header { min-height: 65px; }
	header .logo { margin-top: 15px; font-size: 9px;}
	header .logo a.block-title { display: block; font-size: 28px; margin: 0 28%;}
		#nav .pull-right > li > a.active { border-top: none; }
		a#newlogo { display:none; }
	
	footer { margin-top: 40px; margin-bottom: 15px; }
	footer .span12 { padding-top: 15px; }
	
	#title { margin-top: 34px; margin-bottom: 33px; }
	#title .span12 { padding-bottom: 12px; }
	#title .date { margin: -20px 0 5px 0; }
	
	#page-title { margin-top: 28px; margin-bottom: 28px; }
	#page-title h2 { float: none; border-bottom: 1px solid #373a3d; padding-bottom: 20px; margin-bottom: 10px; }
	#page-title h2 + .dropdown { top: 0; margin-top: 10px; margin-left: 0; }
	
	.intro .span12 { margin-top: 0; margin-bottom: 45px; }
	.intro p { font-size: 20px; margin-bottom: 0}
	
	.service-desc { margin-bottom: 50px; }
	
	#social-data .span4 { margin-top: 16px; margin-bottom: 23px; }
	#social-data .span4:first-child { margin-top: 34px;}
	#social-data .span4:last-child { margin-bottom: 40px; }
	#social-data .row { background: none; }
	#twitter-feed { margin-bottom: 28px; }
	
	#clients + footer { margin-top: 60px; }
	
	#team { margin: 45px 0; padding: 30px 0 0 0; }
	.big-title { font-size: 58px; margin-bottom: 53px !important; }
	.profile-wrp { width: 100%; margin-left: 0;}
	.profile-wrp .overlay-wrp .profile-quote { font-size: 28px; }
	
	#yellow-line  { margin-top: 40px}
	#yellow-line .social-icons { margin-left: 0; }
	.pdf-title span.visible-big-desktop { display: inline !important; }
	
	
	#heart-works { margin-top: 34px; margin-bottom: 40px; }
	#heart-works .span12 { padding-top: 30px; padding-bottom: 17px; }
	.heart { width: 100%; text-align: center; }
	.heart-circle { display: block !important; position: relative; margin: 0 auto 20px auto; }
	.heart span { font-size: 18px; padding-left: 0;}
	
	#process { margin-bottom: 40px; }
	#process hr.opener { margin-bottom: 30px; }
	#process hr.closer { margin-top: 30px; }
	#process h2 { font-size: 30px; letter-spacing: -1px; margin-bottom: 30px; }
	.process-wrp { width: 84px; height: 84px; margin: 0 2px 4px 2px; }
	.process-circle { font-size: 14px; }
	.process-circle span { width: 84px; height: 84px; }
	.process-circle span:after { content: ''; }
	
	.slider { margin: 30px 0 20px 0;}
	
	.img-caption { margin: 16px 0 0 0; width: 100%; }
	.img-caption p { margin: 0; }
	.tag { font-size: 10px; margin-right: 1px; margin-bottom: 5px; }
	
	.blog-post.tags { margin-bottom: 0; }
	.blog-post .preview-img { margin-bottom: 20px; }
	.blog-post h4 { font-size: 20px; margin-bottom: 17px; }
	.blog-post .date { font-size: 14px; margin-bottom: 7px;}
	.blog-post .post-info { margin-bottom: 30px; }
	.blog-post p:last-child { margin-bottom: 0; }
	.blog-post .twitter-post { margin-top: 20px; margin-bottom: 5px; padding: 46px 4%; }
	.blog-post .twitter-post p { font-size: 24px; margin-bottom: 29px; }
	.blog-post hr { margin-top: 30px; margin-bottom: 22px; }
	
	.full-post .blog-text { margin-bottom: 30px; font-size: 14px; }
	.full-post .blog-text blockquote.big, .full-post .blog-text .slider, .full-post .blog-text .info-block { margin-left: 0; margin-right: 0; }
	.full-post .f-tags { margin-top: 20px;}
	
	.comment-block { margin-top: 17px; margin-bottom: 0; }
	.comment-block .comment-info { margin-bottom: 14px; }
	h5.add-comment-title { margin-top: 10px; }
	
	blockquote.big { padding: 30px 10px 30px 10px; margin: 35px 0; }
	blockquote.big p { font-size: 24px; }
	
	.dropdown { width: 100%; }
	.dropmenu { width: 100%; height: 60px; margin-top: -10px; box-sizing: border-box; }
	.dropmenu-active { width: 460px; }
	
	.address { margin: 0.9em 0 30px 0; }
	#map { height: 300px; }
	#contact-us hr { margin-top: 55px; }
	
	#project h1 { margin: 45px 0 20px 0; line-height: 0.9; }
	#project .project-info { font-size: 14px; }
	a.launch { float: left; margin-bottom: 20px; }
	#project .image-desc { padding-top: 20px; }
	#project .image-desc p, #project .image-desc h5 { padding-left: 0; }
	#case .row { margin-bottom: 20px; }
	#project .background .gradient { height: 100%; }
	#project .line { border-top: 1px solid #373a3d; }
	
	.error-page { margin-top: 33px; margin-bottom: 50px; }
	.error-page p { margin-bottom: 0; }
	.error-page .error-title { font-size: 200px; }
	.error-background { background: none; }
	
	#loading a { padding: 8px 0; font-size: 16px; }
	
	.accordion-wrp h6, .toggle-wrp h6 { padding: 14px 20px 12px 20px; }
	
	.info-block a.btn { position: inherit; margin-top: 20px; }
	.ib-text { padding-right: 0; }
	
	.form-inline input { margin-bottom: 10px; }
	
	.pricing-table.recommend { margin-top: 20px; }
	
	img.preview-responsive { bottom: 22px; }

}

/* --------- iPhone Vertical  --------- */
@media (max-width: 479px) {

	#pies {position: relative!important;}

	h1 { font-size: 38px; }
	h2 { font-size: 38px; }
	
	.dropmenu-active { width: 300px; }
	
	#social-data .span4 { margin-top: 6px; margin-bottom: 23px; }
	#social-data .span4:first-child { margin-top: 26px; margin-bottom: 23px; }

	#process hr.closer { margin-top: 10px; }
	#process h2 { font-size: 20px; letter-spacing: -1px; margin-bottom: 20px; }
	.process-wrp { display: inline-block; width: 56px; height: 56px; margin: 0 0 20px 0; }
	.process-circle { font-size: 10px; letter-spacing: 0; font-weight: normal; }
	.process-circle span { width: 56px; height: 56px; }
	
	.big-title { font-size: 36px; margin-bottom: 35px !important; }
	
	.error-page .error-title { font-size: 140px; letter-spacing: -2px; }
	.error-page p { font-size: 18px; }
	
	.address { font-size: 14px !important; letter-spacing: 0; line-height: 1.3; }
	.telephone, .e-mail { letter-spacing: -1px; }
	
}