/*
	Theme Name: Portfolio - 2013
	Theme URI: http://www.tonymeyer.org
	Description: my personal portfolio
	Version: 1
	Author: Tony Meyer
	Author URI: http://www.tonymeyer.org
	Tags: HTML5, CSS3
	
	License: MIT
	License URI: http://opensource.org/licenses/mit-license.php
*/
/* --------------------------------------------------------
	 Lists
-------------------------------------------------------- */

ul,
ol {
	padding: 0;
	margin: 0 0 10px 25px;
}
ul ul,
ul ol,
ol ol,
ol ul {
	margin-bottom: 0;
}
li {
	line-height: 20px;
}
ul.unstyled,
ol.unstyled {
	margin-left: 0;
	list-style: none;
}
dl {
	margin-bottom: 20px;
}
dt,
dd {
	line-height: 20px;
}
dt {
	font-weight: bold;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
dd {
	margin-left: 10px;
}
.dl-horizontal {
	*zoom: 1;
}
.dl-horizontal:before,
.dl-horizontal:after {
	display: table;
	content: "";
	line-height: 0;
}
.dl-horizontal:after {
	clear: both;
}
.dl-horizontal dt {
	float: left;
	width: 160px;
	clear: left;
	text-align: right;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.dl-horizontal dd {
	margin-left: 180px;
}



/* --------------------------------------------------------
	 Buttons
-------------------------------------------------------- */

.btn {
	display: inline-block;
	margin: 10px 10px 10px 0;
	padding: 11px 20px;
	background: #4e5257;
	color: white;
	font-size: 12px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	cursor: pointer;
	border: none;
	-webkit-font-smoothing: antialiased;
}

.btn:hover, .btn:focus {
	background: #f5c11e;
	color: #1a1c1e;
}

.btn.small {
	padding: 6px 12px;
	font-size: 10px;
}

.btn.large {
	padding: 12px 24px;
	font-size: 14px;
}

.btn.color {
	background: #f5c11e;
}

.btn.color:hover, .btn.color:focus {
	background: #4e5257;
	color: #ccced0;
}

.btn.dark {
	background: #232527;
	color: #ccced0;
}

.btn.dark:hover, .btn.dark:focus {
	background: #4e5257;
	color: white;
}

.btn.rounded {
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	   		border-radius: 4px;
}

input#submit {
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	   		border-radius: 4px;
	background: none repeat scroll 0 0 #4E5257;
    border: medium none;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 12px;
    font-weight: bold;
    margin: 10px 10px 10px 0;
    padding: 11px 20px;
    text-transform: uppercase;
    width: 170px!important;
    padding: 10px 20px !important;
    transition: all 0.1s linear 0s;
}

#buttons p {
	display: block;
	margin-bottom: 10px;	
}

.btn:active {
	background: white !important;
	color: #1a1c1e !important;
	-webkit-transition: all 0s linear !important;
	   -moz-transition: all 0s linear !important;
	     -o-transition: all 0s linear !important;
	     	transition: all 0s linear !important;
}

button {
	padding: 10px 20px !important;
	-webkit-transition: all .1s linear;
	   -moz-transition: all .1s linear;
	     -o-transition: all .1s linear;
	     	transition: all .1s linear;
}

button.small {
	padding: 4px 12px !important;
}

button.large {
	font-size: 14px;
	padding: 12px 24px !important;
}

button.search {
	position: relative;
	margin: 0;
	top: 2px;
	left: -28px;
	color: #4e5257;
	font-size: 16px;
	padding: 0 !important;
	background: none;
}

button.search:hover {
	color: white;
	background: none;
}

.btn i {
	margin-right: 8px;
}



/* --------------------------------------------------------
	 Info block
-------------------------------------------------------- */

.info-block {
	position: relative;
	overflow: hidden;
	margin: 30px 0;
	background: #232527;
	padding: 35px 40px 25px 40px;
}

.info-block img {
	display: block;
	width: 100%;
	max-width: intrinsic;
	margin: 5px 0 35px 0;
}

.ib-text {
	position: relative;
	padding-right: 30%;
}

.info-block a.btn {
	position: absolute;
	top: 50%;
	right: 0;
	margin-top: -20px;
}




/* --------------------------------------------------------
	 Intro block
-------------------------------------------------------- */

.intro p {
	font-size: 24px;
	text-align: center;
	/*letter-spacing: -1px;*/
	line-height: 1.3;
	padding: 0 7% 0 7%;
	-webkit-font-smoothing: antialiased;
}

.intro p a {
	font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 200;
}

.intro .span12 {
	border-bottom: 1px solid #373a3d;
	padding-bottom: 35px;
	margin-bottom: 75px;
}


/* --------------------------------------------------------
	 Pricing Table
-------------------------------------------------------- */

.pricing-table {
	display: inline-block;
	overflow: hidden;
	width: 100%;
	margin: 20px 0 14px 0;
}

.pricing-table h5 {
	display: block;
	margin: 0;
	width: 100%;
	padding: 17px 0;
	background: #303235;
	text-align: center;
}

.pricing-table .pt-price {
	display: block;
	width: 100%;
	margin-bottom: 10px;
	padding: 17px 0;
	background: #232527;
	text-align: center;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: bold;
	color: white;
	font-size: 18px;
	-webkit-font-smoothing: antialiased;
}

.pricing-table .pt-price span {
	display: block;
	font-size: 12px;
	color: #4e5257;
}

.pricing-table ul {
	margin: 0;
}

.pricing-table li {
	display: block;
	padding: 10px 0;
	text-align: center;
	border-bottom: 1px solid #232527;
}

.pricing-table li:last-child {
	border-bottom: none;
}

.pricing-table .btn {
	width: 100%;
	margin-top: 10px;
	padding: 11px 0;
	text-align: center;
}

.pricing-table.recommend {
	margin-top: 0;
}

.pricing-table.recommend h5 {
	padding: 27px 0;
	background: #f5c11e;
}

.pricing-table.recommend .pt-price {
	background: #b4901e;
}

.pricing-table.recommend .pt-price span {
	color: white;
}

.pricing-table.recommend li {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
}

.pricing-table.recommend .btn {
	padding: 21px 0;
}



/* --------------------------------------------------------
	 Blockquote
-------------------------------------------------------- */

blockquote {
	margin: 30px 0;
	padding: 6px 0 6px 20px;
	border-left: 3px solid #f5c11e;
	-webkit-font-smoothing: antialiased;
}

blockquote p {
	font-size: 18px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: bold;
	color: white;
	line-height: 1.3;
	margin-bottom: 6px;
}

blockquote small {
	color: #4e5257;
	font-size: 14px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: bold;
}

cite {
	font-style: normal;
}

blockquote.small{
	margin: 0 0 30px 0;
}

blockquote.small p {
	font-size: 14px;
}

blockquote.small small {
	font-size: 12px;
}

blockquote.big {
	margin: 55px 0;
	padding: 54px 40px 50px 40px;
	text-align: center;
	border-left: none;
	border-top: 1px dotted #373a3d;
	border-bottom: 1px dotted #373a3d;
}

blockquote.big p {
	font-size: 36px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: bold;
	color: white;
	line-height: 1.15;
}

blockquote.big small:before {
	content: '';
	display: inline-block;
	position: relative;
	top: 11px;
	width: 29px;
	height: 23px;
	margin-top: 12px;
	margin-right: 10px;
	background-image: url("../img/quotes.png");
	background-position: left top;
	background-repeat: no-repeat;
	background: -Webkit-image-set(url("../img/quotes.png") 1x, url("../img/quotes@2x.png") 2x) left top no-repeat; /* Image for Retina */	
}

blockquote.big small {
	color: #4e5257;
	font-size: 12px;
	text-transform: uppercase;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: bold;
}


/* --------------------------------------------------------
	 Accordion and Toggle
-------------------------------------------------------- */

.accordion, .toggle {
	margin-bottom: 40px;
}

.accordion-wrp h6, .toggle-wrp h6 {
	display: block;
	position: relative;
	overflow: hidden;
	padding: 18px 20px 16px 20px;
	background: #232527;
	color: #4e5257;
	cursor: pointer;
	-webkit-transition: all .1s linear;
	   -moz-transition: all .1s linear;
	     -o-transition: all .1s linear;
	     	transition: all .1s linear;
}

.accordion-wrp h6 i, .toggle-wrp h6 i {
	position: absolute;
	top: 50%;
	right: 20px;
	margin-top: -2px;
	font-size: 14px;
	line-height: .1;
	color: white;
	-webkit-transition: all .2s linear;
	   -moz-transition: all .2s linear;
	     -o-transition: all .2s linear;
	     	transition: all .2s linear;
}

.accordion-wrp h6:hover, .toggle-wrp h6:hover {
	background: #4e5257;
	color: white;
}

.accordion-wrp .accordion-content, .toggle-wrp .toggle-content {
	padding: 16px 20px 25px 20px;
	display: none;
}

.accordion-wrp.current h6, .toggle-wrp.current h6 {
	background: #f5c11e;
	color: #1a1c1e;
}

.accordion-wrp.current h6 i {
	-webkit-transform: rotate(180deg);
	   -moz-transform: rotate(180deg);
	   	-ms-transform: rotate(180deg);
	   	 -o-transform: rotate(180deg);
	   	 	transform: rotate(180deg);
	   	 	
}

.accordion-wrp.current .accordion-content, .toggle-wrp.current .toggle-content {
	display: block;
}

.toggle-wrp h6 i.icon-minus, .toggle-wrp.current h6 i.icon-plus {
	opacity: 0;
	filter: alpha(opacity=0);
}

.toggle-wrp.current h6 i.icon-minus {
	opacity: 1;
	filter: alpha(opacity=100);
}



/* --------------------------------------------------------
	 Tabs
-------------------------------------------------------- */

.tabs {
	margin-bottom: 40px;
}

.tabs ul {
	width: 100%;
	margin: 0;
	overflow: hidden;
	border-bottom: 1px solid #f5c11e;
	-webkit-font-smoothing: antialiased;
}

.tabs ul li {
	display: inline-block;
	padding: 11px 20px;
	margin-right: 5px;
	background: #232527;
	color: #4e5257;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: bold;
	cursor: pointer;
	-webkit-transition: all .1s linear;
	   -moz-transition: all .1s linear;
	     -o-transition: all .1s linear;
	     	transition: all .1s linear;
}

.tabs ul li:last-child {
	margin-right: 0;
}

.tabs ul li:hover {
	background: #4e5257;
	color: white;
}

.tabs ul li.current {
	background: #f5c11e;
	color: white;
}

.tabs .tab-content {
	background: #232527;
	padding: 16px 20px 25px 20px;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
}

.tabs .tab-content.active{
    display: block;
    position: relative;
}

.tabs .tab-content-wrp{
    position: relative;
}


/* --------------------------------------------------------
	 Close Button
-------------------------------------------------------- */

.close {
	float: right;
	font-size: 20px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: bold;
	line-height: 20px;
	color: #000000;
	opacity: .2;
	filter: alpha(opacity=20);
	-webkit-font-smoothing: antialiased;
}

.close:hover {
	color: #000000;
	text-decoration: none;
	cursor: pointer;
	opacity: .4;
	filter: alpha(opacity=40);
}

button.close {
	padding: 0;
	cursor: pointer;
	background: transparent;
	border: 0;
	-webkit-appearance: none;
}



/* --------------------------------------------------------
	 Tables
-------------------------------------------------------- */
	
table {
	max-width: 100%;
	background-color: transparent;
	border-collapse: collapse;
	border-spacing: 0;
}

thead {
	color: white;
	-webkit-font-smoothing: antialiased;
}

.table {
	width: 100%;
	margin-bottom: 20px;
}

.table th,
.table td {
	padding: 8px;
	line-height: 20px;
	text-align: left;
	vertical-align: top;
	border-top: 1px solid #373a3d;
}

.table th {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: bold;
}

.table thead th {
	vertical-align: bottom;
}

.table caption + thead tr:first-child th,
.table caption + thead tr:first-child td,
.table colgroup + thead tr:first-child th,
.table colgroup + thead tr:first-child td,
.table thead:first-child tr:first-child th,
.table thead:first-child tr:first-child td {
	border-top: 0;
}

.table tbody + tbody {
	border-top: 2px solid #373a3d;
}

.table-condensed th,
.table-condensed td {
	padding: 4px 5px;
}

.table-bordered {
	border: 1px solid #373a3d;
	border-collapse: separate;
	*border-collapse: collapse;
	border-left: 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.table-bordered th,
.table-bordered td {
	border-left: 1px solid #373a3d;
}

.table-bordered caption + thead tr:first-child th,
.table-bordered caption + tbody tr:first-child th,
.table-bordered caption + tbody tr:first-child td,
.table-bordered colgroup + thead tr:first-child th,
.table-bordered colgroup + tbody tr:first-child th,
.table-bordered colgroup + tbody tr:first-child td,
.table-bordered thead:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child td {
	border-top: 0;
}

.table-bordered thead:first-child tr:first-child th:first-child,
.table-bordered tbody:first-child tr:first-child td:first-child {
	-webkit-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
}

.table-bordered thead:first-child tr:first-child th:last-child,
.table-bordered tbody:first-child tr:first-child td:last-child {
	-webkit-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
	-moz-border-radius-topright: 4px;
}

.table-bordered thead:last-child tr:last-child th:first-child,
.table-bordered tbody:last-child tr:last-child td:first-child,
.table-bordered tfoot:last-child tr:last-child td:first-child {
	-webkit-border-radius: 0 0 0 4px;
	-moz-border-radius: 0 0 0 4px;
	border-radius: 0 0 0 4px;
	-webkit-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
}

.table-bordered thead:last-child tr:last-child th:last-child,
.table-bordered tbody:last-child tr:last-child td:last-child,
.table-bordered tfoot:last-child tr:last-child td:last-child {
	-webkit-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;
	-moz-border-radius-bottomright: 4px;
}

.table-bordered caption + thead tr:first-child th:first-child,
.table-bordered caption + tbody tr:first-child td:first-child,
.table-bordered colgroup + thead tr:first-child th:first-child,
.table-bordered colgroup + tbody tr:first-child td:first-child {
	-webkit-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
}

.table-bordered caption + thead tr:first-child th:last-child,
.table-bordered caption + tbody tr:first-child td:last-child,
.table-bordered colgroup + thead tr:first-child th:last-child,
.table-bordered colgroup + tbody tr:first-child td:last-child {
	-webkit-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
	-moz-border-radius-topright: 4px;
}

.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
	background-color: #232527;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
	background-color: #232527;
}

table td[class*="span"],
table th[class*="span"],
.row-fluid table td[class*="span"],
.row-fluid table th[class*="span"] {
	display: table-cell;
	float: none;
	margin-left: 0;
}

.table td.span1,
.table th.span1 {
	float: none;
	width: 44px;
	margin-left: 0;
}

.table td.span2,
.table th.span2 {
	float: none;
	width: 124px;
	margin-left: 0;
}

.table td.span3,
.table th.span3 {
	float: none;
	width: 204px;
	margin-left: 0;
}

.table td.span4,
.table th.span4 {
	float: none;
	width: 284px;
	margin-left: 0;
}

.table td.span5,
.table th.span5 {
	float: none;
	width: 364px;
	margin-left: 0;
}

.table td.span6,
.table th.span6 {
	float: none;
	width: 444px;
	margin-left: 0;
}

.table td.span7,
.table th.span7 {
	float: none;
	width: 524px;
	margin-left: 0;
}

.table td.span8,
.table th.span8 {
	float: none;
	width: 604px;
	margin-left: 0;
}

.table td.span9,
.table th.span9 {
	float: none;
	width: 684px;
	margin-left: 0;
}

.table td.span10,
.table th.span10 {
	float: none;
	width: 764px;
	margin-left: 0;
}

.table td.span11,
.table th.span11 {
	float: none;
	width: 844px;
	margin-left: 0;
}

.table td.span12,
.table th.span12 {
	float: none;
	width: 924px;
	margin-left: 0;
}

.table tbody tr.success td {
	background-color: #dff0d8;
}

.table tbody tr.error td {
	background-color: #f2dede;
}

.table tbody tr.warning td {
	background-color: #fcf8e3;
}

.table tbody tr.info td {
	background-color: #d9edf7;
}

.table-hover tbody tr.success:hover td {
	background-color: #d0e9c6;
}

.table-hover tbody tr.error:hover td {
	background-color: #ebcccc;
}

.table-hover tbody tr.warning:hover td {
	background-color: #faf2cc;
}

.table-hover tbody tr.info:hover td {
	background-color: #c4e3f3;
}



/* --------------------------------------------------------
	 Code and Pre
-------------------------------------------------------- */
code,
pre {
	font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
	font-size: 12px;
	color: white;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

code {
	padding: 3px 7px;
	color: white;
	background-color: #4e5257;
}

pre {
	display: block;
	padding: 9px 12px;
	margin: 10px 0;
	font-size: 12px;
	line-height: 20px;
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre;
	white-space: pre-wrap;
	background-color: #4e5257;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

pre.prettyprint {
	margin-bottom: 20px;
}

pre code {
	padding: 0;
	color: inherit;
	background-color: transparent;
	border: 0;
}

.pre-scrollable {
	max-height: 340px;
	overflow-y: scroll;
}



/* --------------------------------------------------------
	 Alerts
-------------------------------------------------------- */

.alert {
	position: relative;
	padding: 10px 35px 10px 14px;
	margin: 20px 0;
	background-color: #faf2cb;
	color: #c09853;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.alert h5 {
	margin: 0;
}

.alert .close {
	position: absolute;
	top: 45%;
	right: 0;
	margin-top: -20px;
}

.alert-success {
	background-color: #c3e4b8;
	color: #468847;
}

.alert-danger,
.alert-error {
	background-color: #e7c1c0;
	color: #b94a48;
}

.alert-info {
	background-color: #b9dbee;
	color: #3a87ad;
}

.alert-block {
	padding-top: 14px;
	padding-bottom: 14px;
}

.alert-block > p,
.alert-block > ul {
	margin-bottom: 0;
}

.alert-block p + p {
	margin-top: 5px;
}



/* --------------------------------------------------------
	 Tooltip
-------------------------------------------------------- */

.tooltip{
    position: absolute;
    top: -25px;
    margin-left: 50%;
    border-radius: 5px;
    display: none;
    z-index: 100;
    font-size: 11px;
    min-width: 100px;
}

.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: white;
  text-align: center;
  text-decoration: none;
  background-color: #4e5257;
  border-radius: 4px;
  position: relative;
}

.tooltip-inner .tooltip-arrow {
    position: absolute;
    border-left: 7px solid rgba(113, 101, 58, 0);
    border-right: 7px solid rgba(113, 101, 58, 0);
    border-top: 7px solid #4e5257;
    bottom: -5px;
    left: 40%;
}
  
    

/* --------------------------------------------------------
	 Dropmenu
-------------------------------------------------------- */

.dropmenu {
	position: relative;
	overflow: hidden;
	width: 230px;
	padding: 20px 20px 0px 20px;
	height: 40px;
	line-height: 1;
	background: url("../img/dm-border.png") no-repeat;
	cursor: pointer;
	-webkit-font-smoothing: antialiased;
	-webkit-transition: all 0.1s ease;
	   -moz-transition: all 0.1s ease;
	     -o-transition: all 0.1s ease;
	     	transition: all 0.1s ease;
}


.dropdown:hover .dropmenu {
	background: #232527;
}

.dropmenu .menu-title {
	margin: 2px 0;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: bold;
	color: #4e5257;
}

.dropmenu .selected {
	margin: 0;
	font-size: 18px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: bold;
	color: white;
	letter-spacing: -1px;
}

.dropmenu i.icon-chevron-down {
	position: absolute;
	right: 20px;
	top: 55%;
	color: white;
}

.dropmenu-active {
	display: block;
	position: absolute;
	width: 270px;
	z-index: 90000;
	background: #232527;
	height: auto;
	padding: 11px 0;
	border-bottom: 2px solid #f5c11e;
	display: none;
}

.dropmenu-active ul {
	margin: 0;
}

.dropmenu-active li {
	display: block;
}

.dropmenu-active li a {
	display: block;
	padding: 4px 20px;
	color: #4e5257;
}

.dropmenu-active li a.drop-selected {
	color: #f5c11e;
}	

.dropmenu-active li a:hover {
	color: white;
	background: #4e5257;
}



/* --------------------------------------------------------
	 Pagination (left-right)
-------------------------------------------------------- */

.left-right {
	margin-top: 20px;
	margin-bottom: 40px;
}

.left-right .span12 {
	padding-top: 20px;
	border-top: 1px dotted #373a3d;
}

.left-right a {
	text-transform: uppercase;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: bold;
	color: #4e5257;
	font-size: 11px;
	-webkit-font-smoothing: antialiased;
}

.left-right .arrow:hover {
	color: white;
}

.left-right .arrow i {
	display: inline-block;
	overflow: hidden;
	width: 30px;
	height: 30px;
	text-align: center;
	color: white;
	font-weight: 200;
	font-size: 11px;
	line-height: 2.8;
	background-color: #4e5257;
	opacity: .3;
	filter: alpha(opacity=30);
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	   		border-radius: 4px;
	-webkit-transition: all .1s linear;
	   -moz-transition: all .1s linear;
	     -o-transition: all .1s linear;
	     	transition: all .1s linear;
}

.left-right .arrow:hover i {
	background-color: #f5c11e;
	opacity: 1;
	filter: alpha(opacity=100);
}

.left-right .arrow.pull-left i {
	margin-right: 10px;
}

.left-right .arrow.pull-right i {
	margin-left: 10px;
}

.left-right a.back {
	position: relative;
	top: 7px;
	display: block;
	width: 200px;
	margin: 0 auto;
	text-align: center;
}

.left-right a.back:hover {
	color: white;
}



/* --------------------------------------------------------
	 Pagination
-------------------------------------------------------- */

.pagination li {
	display: inline-block;
	margin: 0 2px 6px 0;
}

.pagination li a {
	display: block;
	padding: 5px 11px;
	background-color: #232527;
	font-size: 12px;
	color: white;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	   		border-radius: 4px;
	-webkit-font-smoothing: antialiased;
}

.pagination li a.previous, .pagination li a.next {
	background-color: #303235;
}

.pagination li a:hover {
	background-color: #4e5257;
}

.pagination li a.current {
	background-color: #f5c11e;
	color: #1a1c1e;
}



/* --------------------------------------------------------
	 Responsive Video 16:9
-------------------------------------------------------- */

.embed-container {
    position: relative;
    padding-bottom: 51.25%; /* 16/9 ratio */
    padding-top: 30px; /* IE6 workaround*/
    height: 0;
    overflow: hidden;
    margin: 20px 0 30px 0;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* --------------------------------------------------------
	 Forms
-------------------------------------------------------- */

form {
	margin: 0 0 20px;
}

fieldset {
	padding: 0;
	margin: 0;
	border: 0;
}

legend {
	display: block;
	width: 100%;
	padding: 0;
	margin-bottom: 20px;
	font-size: 22px;
	line-height: 1.5;
	color: white;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: bold;
	border: 0;
	border-bottom: 1px solid #373a3d;
	-webkit-font-smoothing: antialiased;
}

legend small {
	font-size: 14px;
	color: #ccced0;
}

label,
input,
button,
select,
textarea {
	font-size: 14px;
	font-weight: 200;
	line-height: 1.5;
}

input,
button,
select,
textarea {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

label {
	display: block;
	margin-bottom: 5px;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
	display: inline-block;
	height: 30px;
	padding: 4px 6px;
	margin-bottom: 10px;
	font-size: 13px;
	line-height: 20px;
	color: #ccced0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	vertical-align: middle;
}

input,
textarea,
.uneditable-input {
	width: 206px;
	padding: 8px 6px;
}

#commentform #submit {
	width: 50%!important;
}

#commentform input, #commentform textarea {
	width: 95%!important;
}

textarea {
	height: auto;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
	background-color: #1d1f21;
	border: 1px solid #373a3d;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-webkit-transition: border linear .2s, box-shadow linear .2s;
	-moz-transition: border linear .2s, box-shadow linear .2s;
	-o-transition: border linear .2s, box-shadow linear .2s;
	transition: border linear .2s, box-shadow linear .2s;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
	border-color: rgba(78,82,87,1);
	outline: 0;
	outline: thin dotted \9;
	/* IE6-9 */

	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(78, 82, 87,.8);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(78, 82, 87,.8);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(78, 82, 87,.8);
}

input[type="radio"],
input[type="checkbox"] {
	margin: 4px 0 0;
	*margin-top: 0;
	/* IE7 */

	margin-top: 1px \9;
	/* IE8-9 */

	line-height: normal;
	cursor: pointer;
}

input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
	width: auto;
}

select,
input[type="file"] {
	height: 30px;
	/* In IE7, the height of the select element cannot be changed by height, only font-size */

	*margin-top: 4px;
	/* For IE7, add top margin to align select with labels */

	font-size: 15px;
}

select {
	width: 220px;
	border: 1px solid #373a3d;
	background-color: white;
	color: #4e5257;
}

select[multiple],
select[size] {
	height: auto;
}

select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
	outline: thin dotted #333;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

.uneditable-input,
.uneditable-textarea {
	color: #999999;
	background-color: #1b1c1e;
	border-color: #373a3d;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .025);
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .025);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, .025);
	cursor: not-allowed;
}

.uneditable-input {
	overflow: hidden;
	white-space: nowrap;
}

.uneditable-textarea {
	width: auto;
	height: auto;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
	color: #464a4f;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color: #464a4f;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #464a4f;
}

.radio,
.checkbox {
	min-height: 20px;
	padding-left: 20px;
}

.radio input[type="radio"],
.checkbox input[type="checkbox"] {
	float: left;
	margin-left: -20px;
}

.controls > .radio:first-child,
.controls > .checkbox:first-child {
	padding-top: 5px;
}

.radio.inline,
.checkbox.inline {
	display: inline-block;
	padding-top: 5px;
	margin-bottom: 0;
	vertical-align: middle;
}

.radio.inline + .radio.inline,
.checkbox.inline + .checkbox.inline {
	margin-left: 10px;
}

.input-mini {
	width: 60px;
}

.input-small {
	width: 90px;
}

.input-medium {
	width: 150px;
}

.input-large {
	width: 210px;
}

.input-xlarge {
	width: 270px;
}

.input-xxlarge {
	width: 530px;
}

input[class*="span"],
select[class*="span"],
textarea[class*="span"],
.uneditable-input[class*="span"],
.row-fluid input[class*="span"],
.row-fluid select[class*="span"],
.row-fluid textarea[class*="span"],
.row-fluid .uneditable-input[class*="span"] {
	float: none;
	margin-left: 0;
}

.row-fluid input[class*="span"],
.row-fluid select[class*="span"],
.row-fluid textarea[class*="span"],
.row-fluid .uneditable-input[class*="span"]{
	display: inline-block;
}

input,
textarea,
.uneditable-input {
	margin-left: 0;
}

.controls-row [class*="span"] + [class*="span"] {
	margin-left: 20px;
}

input.span12, textarea.span12, .uneditable-input.span12 {
	width: 926px;
}

input.span11, textarea.span11, .uneditable-input.span11 {
	width: 846px;
}

input.span10, textarea.span10, .uneditable-input.span10 {
	width: 766px;
}

input.span9, textarea.span9, .uneditable-input.span9 {
	width: 686px;
}

input.span8, textarea.span8, .uneditable-input.span8 {
	width: 606px;
}

input.span7, textarea.span7, .uneditable-input.span7 {
	width: 526px;
}

input.span6, textarea.span6, .uneditable-input.span6 {
	width: 446px;
}

input.span5, textarea.span5, .uneditable-input.span5 {
	width: 366px;
}

input.span4, textarea.span4, .uneditable-input.span4 {
	width: 286px;
}

input.span3, textarea.span3, .uneditable-input.span3 {
	width: 206px;
}

input.span2, textarea.span2, .uneditable-input.span2 {
	width: 126px;
}

input.span1, textarea.span1, .uneditable-input.span1 {
	width: 46px;
}

.controls-row {
	*zoom: 1;
}

.controls-row:before,
.controls-row:after {
	display: table;
	content: "";
	line-height: 0;
}

.controls-row:after {
	clear: both;
}

.controls-row [class*="span"],
.row-fluid .controls-row [class*="span"] {
	float: left;
}

.controls-row .checkbox[class*="span"],
.controls-row .radio[class*="span"] {
	padding-top: 5px;
}

input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
	cursor: not-allowed;
	background-color: #26282a;
}

input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"][readonly],
input[type="checkbox"][readonly] {
	background-color: transparent;
}

.control-group.warning > label,
.control-group.warning .help-block,
.control-group.warning .help-inline {
	color: #a58218;
}

.control-group.warning .checkbox,
.control-group.warning .radio,
.control-group.warning input,
.control-group.warning select,
.control-group.warning textarea {
	color: #a58218;
}

.control-group.warning input,
.control-group.warning select,
.control-group.warning textarea {
	border-color: #a58218;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.control-group.warning input:focus,
.control-group.warning select:focus,
.control-group.warning textarea:focus {
	border-color: #a58218;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #a58218;
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #a58218;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #a58218;
}

.control-group.error > label,
.control-group.error .help-block,
.control-group.error .help-inline {
	color: #a4211f;
}

.control-group.error .checkbox,
.control-group.error .radio,
.control-group.error input,
.control-group.error select,
.control-group.error textarea {
	color: #a4211f;
}

.control-group.error input,
.control-group.error select,
.control-group.error textarea {
	border-color: #a4211f;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.control-group.error input:focus,
.control-group.error select:focus,
.control-group.error textarea:focus {
	border-color: #a61f19;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #a61f19;
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #a61f19;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #a61f19;
}

.control-group.success > label,
.control-group.success .help-block,
.control-group.success .help-inline {
	color: #8da518;
}

.control-group.success .checkbox,
.control-group.success .radio,
.control-group.success input,
.control-group.success select,
.control-group.success textarea {
	color: #8da518;
}

.control-group.success input,
.control-group.success select,
.control-group.success textarea {
	border-color: #8da518;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.control-group.success input:focus,
.control-group.success select:focus,
.control-group.success textarea:focus {
	border-color: #8da518;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #8da518;
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #8da518;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #8da518;
}

.control-group.info > label,
.control-group.info .help-block,
.control-group.info .help-inline {
	color: #1dadea;
}

.control-group.info .checkbox,
.control-group.info .radio,
.control-group.info input,
.control-group.info select,
.control-group.info textarea {
	color: #1dadea;
}

.control-group.info input,
.control-group.info select,
.control-group.info textarea {
	border-color: #1dadea;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.control-group.info input:focus,
.control-group.info select:focus,
.control-group.info textarea:focus {
	border-color: rgba(82, 168, 236, .8);
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.8);
	-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.8);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(82,168,236,.8);
}

input:focus:required:invalid,
textarea:focus:required:invalid,
select:focus:required:invalid {
	color: #a4211f;
	border-color: #ee5f5b;
}

input:focus:required:invalid:focus,
textarea:focus:required:invalid:focus,
select:focus:required:invalid:focus {
	border-color: #e9322d;
	-webkit-box-shadow: 0 0 6px #f8b9b7;
	-moz-box-shadow: 0 0 6px #f8b9b7;
	box-shadow: 0 0 6px #f8b9b7;
}

.form-actions {
	padding: 19px 20px 20px;
	margin-top: 20px;
	margin-bottom: 20px;
	background-color: #232527;
	border-top: 1px solid #373a3d;
	*zoom: 1;
}

.form-actions:before,
.form-actions:after {
	display: table;
	content: "";
	line-height: 0;
}

.form-actions:after {
	clear: both;
}

.help-block,
.help-inline {
	color: #4e5257;
}

.help-block {
	display: block;
	margin-bottom: 10px;
}

.help-inline {
	margin-left: 6px;
	padding-bottom: 10px;
	display: inline-block;
	*display: inline;
	/* IE7 inline-block hack */

	*zoom: 1;
	vertical-align: middle;
	padding-left: 5px;
}

input.search-query {
	height: 22px;
	padding-right: 30px;
	padding-right: 4px \9;
	padding-left: 14px;
	padding-left: 4px \9;
	/* IE7-8 doesn't have border-radius, so don't indent the padding */

	margin-bottom: 0;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
}

.form-search input,
.form-inline input,
.form-horizontal input,
.form-search textarea,
.form-inline textarea,
.form-horizontal textarea,
.form-search select,
.form-inline select,
.form-horizontal select,
.form-search .help-inline,
.form-inline .help-inline,
.form-horizontal .help-inline,
.form-search .uneditable-input,
.form-inline .uneditable-input,
.form-horizontal .uneditable-input {
	display: inline-block;
	*display: inline;
	/* IE7 inline-block hack */

	*zoom: 1;
	margin-bottom: 0;
	vertical-align: middle;
}

.form-search .hide,
.form-inline .hide,
.form-horizontal .hide {
	display: none;
}

.form-search label,
.form-inline label,
.form-search .btn-group,
.form-inline .btn-group {
	display: inline-block;
}

.form-search .radio,
.form-search .checkbox,
.form-inline .radio,
.form-inline .checkbox {
	padding-left: 0;
	margin-bottom: 0;
	vertical-align: middle;
}

.form-search .radio input[type="radio"],
.form-search .checkbox input[type="checkbox"],
.form-inline .radio input[type="radio"],
.form-inline .checkbox input[type="checkbox"] {
	float: left;
	margin-right: 3px;
	margin-left: 0;
}

.control-group {
	margin-bottom: 10px;
}

legend + .control-group {
	margin-top: 20px;
	-webkit-margin-top-collapse: separate;
}

.form-horizontal .control-group {
	margin-bottom: 20px;
	*zoom: 1;
}

.form-horizontal .control-group:before,
.form-horizontal .control-group:after {
	display: table;
	content: "";
	line-height: 0;
}

.form-horizontal .control-group:after {
	clear: both;
}

.form-horizontal .control-label {
	float: left;
	width: 160px;
	padding-top: 5px;
	text-align: right;
}

.form-horizontal .controls {
	*display: inline-block;
	*padding-left: 20px;
	margin-left: 180px;
	*margin-left: 0;
}

.form-horizontal .controls:first-child {
	*padding-left: 180px;
}

.form-horizontal .help-block {
	margin-bottom: 0;
}

.form-horizontal input + .help-block,
.form-horizontal select + .help-block,
.form-horizontal textarea + .help-block {
	margin-top: 10px;
}

.form-horizontal .form-actions {
	padding-left: 180px;
}



/* --------------------------------------------------------
	 Lightbox Previews
-------------------------------------------------------- */

.lightbox {
	display: block;
	position: relative;
	margin-bottom: 10px;
}

.lightbox .overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #f5c11e;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: all .1s linear;
	   -moz-transition: all .1s linear;
	    -ms-transition: all .1s linear;
	     -o-transition: all .1s linear;
	     	transition: all .1s linear;
}

.lightbox:hover .overlay {
	opacity: .5;
	filter: alpha(opacity=50);
}

.lightbox i {
	display: block;
	position: absolute;
	top: 50%;
	margin-top: -30px;
	width: 100%;
	font-size: 40px;
	text-align: center;
	color: white;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-font-smoothing: antialiased;
	-webkit-transition: all .1s linear;
	   -moz-transition: all .1s linear;
	     -o-transition: all .1s linear;
	     	transition: all .1s linear;
}

.lightbox:hover i {
	opacity: 1;
	filter: alpha(opacity=100);
}

.lightbox img {
	display: block;
}