/*
	Theme Name: Tony H. Meyer
	Theme URI: http://tonymeyer.org.com
	Description: Portfolio theme of Tony H. Meyer
	Version: 1.4.2
	Author: Tony H. Meyer(@design4lifeblog)
	Author URI: http://tonymeyer.org.com
	Tags: HTML5, CSS3
	
*/

/*------------------------------------*\
    $MAIN
\*------------------------------------*/
.isotope-hidden {
	display: none !important;
}

.unstyled a {
	cursor: default;
}

.portfolio-bar {
	line-height: 1.8!important;
}

.marbot-none {
	margin-bottom: 0!important;
}

#pies {width:300px; height:300px;}   
#pies2 {width:300px; height:300px;}   
/*------------------------------------*\
    $WORDPRESS CORE
\*------------------------------------*/
   
.alignnone {
	margin:5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
	display:block;
	margin:5px auto 5px auto;
}
.alignright {
	float:right;
	margin:5px 0 20px 20px;
}
.alignleft {
	float:left;
	margin:5px 20px 20px 0;
}
.aligncenter {
	display:block;
	margin:5px auto 5px auto;
}
a img.alignright {
	float:right;
	margin:5px 0 20px 20px;
}
a img.alignnone {
	margin:5px 20px 20px 0;
}
a img.alignleft {
	float:left;
	margin:5px 20px 20px 0;
}
a img.aligncenter {
	display:block;
	margin-left:auto;
	margin-right:auto;
}
.wp-caption {
	background:#FFF;
	border:1px solid #F0F0F0;
	max-width:96%;
	padding:5px 3px 10px;
	text-align:center;
}
.wp-caption.alignnone {
	margin:5px 20px 20px 0;
}
.wp-caption.alignleft {
	margin:5px 20px 20px 0;
}
.wp-caption.alignright {
	margin:5px 0 20px 20px;
}
.wp-caption img {
	border:0 none;
	height:auto;
	margin:0;
	max-width:98.5%;
	padding:0;
	width:auto;
}
.wp-caption .wp-caption-text,
.gallery-caption {
	font-size:11px;
	line-height:17px;
	margin:0;
	padding:0 4px 5px;
}
.sticky {
	
}
.bypostauthor {
	
}

/*------------------------------------*\
    echo js image bg
\*------------------------------------*/


.hero img, #services img, #clients img {
	display: none;
}

/*------------------------------------*\
    $PRINT
\*------------------------------------*/

@media print {
	* {
		background:transparent !important;
		color:#000 !important;
		box-shadow:none !important;
		text-shadow:none !important;
	}
	a,
	a:visited {
		text-decoration:underline;
	}
	a[href]:after {
		content:" (" attr(href) ")";
	}
	abbr[title]:after {
		content:" (" attr(title) ")";
	}
	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content:"";
	}
	pre,blockquote {
		border:1px solid #999;
		page-break-inside:avoid;
	}
	thead {
		display:table-header-group;
	}
	tr,img {
		page-break-inside:avoid;
	}
	img {
		max-width:100% !important;
	}
	@page {
		margin:0.5cm;
	}
	p,
	h2,
	h3 {
		orphans:3;
		widows:3;
	}
	h2,
	h3 {
		page-break-after:avoid;
	}
}