.zilla-likes {
	background: url(../images/heart_active.png) no-repeat 8px 49%;
	border: 0 !important;
	display: inline-block;
	margin: 0 0 10px 10px !important;
	min-height: 14px;
	padding-left: 30px!important;
	text-decoration: none;
	color: #000;
	background-color: #4E5257;
	padding: 1px 10px 1px 20px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;


}
.zilla-likes:hover { background: url(../images/heart_active.png) no-repeat 8px 49%!important; background-color: #fff!important; color: #000!important; }
.zilla-likes:hover,
.zilla-likes.active {
	background: url(../images/heart.png) no-repeat 8px 49%;
	border: 0 !important;
	margin: 0 0 10px 10px !important;
	padding-left: 30px !important;
	text-decoration: none;
	background-color: #4E5257;
	padding: 1px 10px 1px 20px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}

.zilla-blog-widget .zilla-likes,
.tz_recentwork_widget .zilla-likes,
.tz_blog_widget .zilla-likes,
.home div#the_body #slider .excerpt .zilla-likes,
.archive div#the_body #slider .excerpt .zilla-likes { display: none; } /* Hide Zilla Share in custom post widget and sliders in themes */
