/* Github Box */

.project-single .github-box-wrap {
	display: inline-block;
	width: 48%;
	margin-right: 0.6em;
	margin-left: 0.6em;
	margin-bottom: 2em;
}

.github-box-wrap.project-single {
	padding-left: 10px;
}


@media (max-width: 767px) {
	.github-box-wrap.project-single {
		padding-left: 0px;
	}
}

.project-single  .github-box {
	font-family: "Helvetica Neue", Arial, sans-serif;
	background: #fafafa;
	border: 1px solid #ddd;
	color: #666;
	border-radius: 5px;
	width: 100%;
}

.project-single  .github-box a {
	color: #4183C4;
	border: none;
}

/* Github Box Header */

.project-single  .github-box .github-box-header {
	position: relative;
	border-bottom: 1px solid #ddd;
	border-radius: 5px 5px 0 0;
	background: #fcfcfc;
	background: -moz-linear-gradient(#fcfcfc, #ebebeb);
	background: -webkit-linear-gradient(#fcfcfc, #ebebeb);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc',endColorstr='#ebebeb')";
}

.project-single  .github-box .github-box-header h3 {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 16px;
	color: gray;
	margin: 0;
	padding: 10px 10px 10px 10px;
}

.project-single  .github-box .github-box-header h3 a {
	font-weight: bold
}

/* Github Box Header - Stats */

.project-single  .github-box .github-box-header .github-stats {
	line-height: 36px;
	position: absolute;
	top: 10px;
	right: 10px;
	background: white;
	border: 1px solid #ddd;
	border-radius: 3px;
	font-size: 11px;
	font-weight: bold;
	line-height: 21px;
	height: 21px;
}

.project-single .github-box .github-box-header .github-stats a {
	display: inline-block;
	height: 21px;
	color: #666;
	padding: 0 5px 0 5px;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
	opacity: 0.7;
	vertical-align: top;
}

.project-single .github-box .github-box-header .github-stats a:hover {
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
}

.project-single .github-box .github-box-header .github-stats a:before {
	font-family: 'EntypoRegular';
	content: attr(data-icon);
	display: inline-block;
	speak: none;
	padding-right: 2px;
	font-size: 2em;
}

.project-single .github-box .github-box-header .github-stats .repo-stars {
	border-right: 1px solid #ddd;
}

.project-single .github-box .github-box-header .github-stats .repo-forks {
	padding-left: 2px;
	border-right: 1px solid #ddd;
}

/* Github Box Content */

.project-single .github-box .github-box-content {
	padding: 10px;
	font-weight: 300;
	font-size: 0.7em!important;
}

.project-single .github-box .github-box-content p {
	margin: 0;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-font-smoothing: ssubpixel-antialiased!important;
}

.project-single .github-box .github-box-content .repo-link {
	font-weight: bold;
}

/* Github Box Download */

.project-single .github-box .github-box-download {
	position: relative;
	border-top: 1px solid #ddd;
	background: white;
	border-radius: 0 0 3px 3px;
	padding: 10px;
	height: 24px;
}

.project-single .github-box .github-box-download .repo-update {
	margin: 0;
	font-size: 11px!important;
	color: #666;
	line-height: 24px;
}

.project-single .github-box .github-box-download .repo-update strong {
	font-size: 12px!important;
	font-weight: bold;
	color: #000;
}

.project-single .github-box .github-box-download .repo-download {
	position: absolute;
	display: block;
	top: 10px;
	right: 10px;
	height: 24px;
	line-height: 24px;
	font-size: 12px!important;
	color: #666;
	font-weight: bold;
	text-shadow: 0 1px 0 rgba(255,255,255,0.9);
	padding: 0 10px;
	border: 1px solid #ddd;
	border-bottom-color: #bbb;
	border-radius: 3px;
	display: block;
	width: 24px;
	padding: 0;
	background: -webkit-linear-gradient(whiteSmoke, #E5E5E5);
	background: -moz-linear-gradient(#f1f7fa, #dbeaf1);
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
	opacity: 1;
}

.project-single .github-box .github-box-download .repo-download:hover {
	color: #527894;
	border-color: #cfe3ed;
	border-bottom-color: #9fc7db;
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	opacity: 1;
}

.project-single .github-box .github-box-download .repo-download:before {
	font-family: 'EntypoRegular';
	text-indent: 0px;
	content: attr(data-icon);
	display: inline-block;
	speak: none;
	font-size: 2.0em!important;
	padding: 0 6px!important;
}

/* Breakpoint content-driven */

@media all and (max-width: 1000px) {
	.github-box-wrap {
		display: block;
		width: inherit;
		margin-right: 0;
		margin-left: 0;
	}

	.projects{
		margin-left: 0!important;
	}
}

/* Fonts */

.project-single p {
	font-size: 14px!important;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
	line-height: 1.5em!important;
	text-align: left!important;
	letter-spacing: 0!important;
	padding: 0!important;
}

.project-single h1 {
	/*font-family: 'EntypoRegular';*/
	text-align: center;
	color: #999;
	font-size: 42px!important;
	margin: 30px 0 0 0;
}

.project-single  .title {
	width: 90%;
	margin: 0 auto;
}

.project-single .title p {
	text-align: center;
	margin-bottom: 40px;
}

.project-single .credits {
	margin: 0 auto;
	width: 90%;
	text-align: center;
	clear: both;
}

.project-single  #github-logo {
	position: fixed;
	bottom: -5px;
	right: 20px;
	z-index: 1;
	display: block;
	opacity: 0.4;
}

.project-single .github-ribbon {
	position: absolute;
	top: 0;
	right: 0;
	border: 0;
}

.project-single .projects{
	width: 100%;
	margin-left: 1.6%;
}

@font-face {
	font-family: 'EntypoRegular';
	src: url('Entypo-webfont.eot');
	src: url('Entypo-webfont-.eot#iefix') format('embedded-opentype'),
			 url('Entypo-webfont.woff') format('woff'),
			 url('Entypo-webfont.ttf') format('truetype'),
			 url('Entypo-webfont.svg#EntypoRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
